#panel {
  width: 1048px;
  margin: 20px auto;
}

#panel .storelocator-filter {
  display: none;
}

#panel .storelocator-filter .location-search {
  padding: 5px;
}

#panel .storelocator-filter .location-search h3 {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  padding: 0;
  width: 140px;
}

#panel .storelocator-filter .location-search input {
  width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 0 0 0 15px;
  padding: 8px;
  position: relative;
  top: -2px;
}

#panel .storelocator-filter .feature-filter {
  margin-top: 10px;
  padding: 10px 10px 0 10px;
  background: #fff;
}

#panel .storelocator-filter .feature-filter:before {
  content: 'Filter by disciplines';
  display: block;
  color: #01244c;
}

#panel .storelocator-filter .feature-filter:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#panel .storelocator-filter .feature-filter input {
  position: relative;
  margin: 0 5px 0 0;
  top: 3px;
}

#panel .storelocator-filter .feature-filter label {
  width: 110px;
  display: block;
  font-size: 0.8em;
  margin: 0 20px 5px 0;
  padding: 5px;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-transform: uppercase;
}

#panel .storelocator-filter .feature-filter label .bullet{
  display: inline-block;
  padding: 7px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  top: 2px;
}

#panel .storelocator-filter .feature-filter label input{
  float: right;
}

#panel #map-canvas {
  height: 480px;
  font-family: sans-serif;
  border: 6px solid #fff;
  background: #b3d1ff url(../img/store_map_bg.jpg) no-repeat center;
}

#panel .store-list {
  margin: 0;
  padding: 0;
  display: none;
}

#panel .store-list li.store {
  position: relative;
  padding: 15px;
  margin: 0;
  border-bottom: 1px solid #aaa;
  list-style: none;
}

#panel .store-list li.store:last-child {
  border-bottom: 0;
}

#panel .store-list li.store:before {
  content: '';
}

#panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

#panel .store-list li.store.highlighted,
#panel .store-list li.store.highlighted:hover {
  background: #fff;
}

#panel .store-list li.no-stores {
  text-transform: none;
  font-size: 16px;
  color: grey;
  background: #fff;
  padding: 15px;
}

#panel .store-list li.no-stores:before {
  content: '';
}

#panel .store-list li.store .title {
  font-size: 26px;
  color: #01244c;
  font-weight: normal;
}

#panel .store-list li.store .title .letter {
  display: inline-block;
  position: relative;
  top: -4px;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin: 0 10px 0 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #01244c;
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 10px;
  text-align: center;
}

#panel .store-list li.store .address {
  font-size: 14px;
}

#panel .store-list li.store .address a {
  display: inline-block;
  padding: 5px 0 0 0;
}

#panel .store-list li.store .address .distance {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #01244c;
}

#panel .store-list li.store .action {
  font-size: 0.8em;
  color: green;
  margin-right: 0.5em;
}

#panel .store-list li.store ul.features {
  position: absolute;
  top: 70px;
  right: 15px;
  text-align: right;
  margin: 0;
  padding: 0;
}

#panel .store-list li.store ul.features li {
  font-size: 16px;
  display: inline-block;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

#panel .store-list li.store ul.features li:before {
  content: '';
}

#panel .store-list li.store ul.features li span.bullet {
  display: inline-block;
  padding: 7px;
  margin: 0 5px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  top: 2px;
}

#panel .directions-panel {
  padding: 0;
}

#panel .directions-panel:before {
	display: inline-block;
	content: "Directions to";
	font-size: 22px;
	color: #01244c;
	padding: 0 0 0 5px;
	width: 130px;
}

#panel .directions-panel form {
  display: inline-block;
}

#panel .directions-panel form input {
  width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin: 0 0 0 25px;
  padding: 8px;
  position: relative;
  top: -2px;
}

#panel .directions-panel form input[type="submit"] {
  width: 150px;
  background: #01244c;
  border: 1px solid #01244c;
  color: #fff;
}

#panel .directions-panel form .directions-to {
	background: #e6e6e6;
	font-size: 15px;
	color: #01244c;
	width: 350px;
}

#panel .directions-panel .close-directions {
  margin: 0 0 0 15px;
}

#panel .directions-panel .rendered-directions {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
}

#panel .directions-panel .rendered-directions table {
  padding: 0;
}

#panel .directions-panel .rendered-directions *,
#panel .directions-panel .rendered-directions table tr td {
	font-family: sans-serif;
	font-size: 12px;
	padding: 5px;
}

#panel .directions-panel .rendered-directions img.adp-marker,
#panel .directions-panel .rendered-directions .adp-step,
#panel .directions-panel .rendered-directions .adp-text {
  width: auto;
  height: auto;
  padding: 10px;
}

#panel .directions-panel .rendered-directions .adp-placemark img {
  display: none;
}

#panel #map-canvas .gm-style .gm-style-iw,
#panel #map-canvas .gm-style .gm-style-iw .store {
  width: 380px;
  padding: 0;
  margin: 0;
}

#panel #map-canvas .gm-style .gm-style-iw .store .title {
  padding: 0 0 5px 0;
}

#panel #map-canvas .gm-style .gm-style-iw .store .address a {
  padding: 0 0 5px 0;
}

#panel #map-canvas .gm-style .gm-style-iw .store ul.features {
  margin: 10px 0;
  padding: 0;
}

#panel #map-canvas .gm-style .gm-style-iw .store ul.features li {
  display: inline-block;
  padding: 0 5px 0 0;
  text-transform: uppercase;
  font-size: 10px;
}

#panel #map-canvas .gm-style .gm-style-iw .store ul.features li:before {
  content: none;
}

#panel #map-canvas .gm-style .gm-style-iw .store ul.features li span {
  display: inline-block;
  padding: 5px;
  margin: 0 3px 0 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  top: 1px;
}

#panel #map-canvas .gm-style .gm-style-iw .store a.action {
  padding: 0 15px 0 0;
}

